<configuration scan="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5p [%c{2}] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="F1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/puppetdb/puppetdb.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/puppetdb/puppetdb-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5p [%c{2}] %m%n</pattern>
        </encoder>
    </appender>

    <!-- Supress internal ActiveMQ logging -->
    <logger name="org.apache.activemq" level="warn"/>

    <!-- Supress internal Spring Framework logging -->
    <logger name="org.springframework.jms.connection" level="warn"/>

    <!-- Lower the log level for ActiveMQ KahaDB MessageDatabase -->
    <logger name="org.apache.activemq.store.kahadb.MessageDatabase"
        level="info"/>

    <!-- turn on to see verbose storage activity -->
    <!--
    <logger name="com.puppetlabs.puppetdb.scf.storage" level="debug"/>
    -->

    <root level="info">
        <appender-ref ref="${logappender:-DUMMY}" />
        <appender-ref ref="F1" />
    </root>
</configuration>
