pom.xml
*jar
/lib/
/classes/
/target/
/docs/
.lein-failures
.lein-deps-sum
*#
/pkg/
test-resources/config/local.clj
checkouts
ext/packaging/*
/scripts
Gemfile.lock
/log/
Vagrantfile
.vagrant
*.tar.gz
.blimpy.d
version
junit
tmp
vendor
