
# Leiningen
/target/
/target-gems/
/pom.xml

# Acceptance tests
/junit/
/log/

# Emacs
*#
*~
.#*

# Local overide for testing config
/test-resources/config/local.clj

# Vagrant
/.vagrant/

# A generalized temporary area for local use, tmp for
# general temporary items, and scripts for any local
# scripts.
/tmp
/scripts

# Bundler files
/vendor
/Gemfile.lock

# Used by Puppet Labs packaging system
/ext/packaging/

# VIM swap files
*.swp

# The leiningen temporary/local files
.lein-failures
.lein-deps-sum
.lein-repl-history

# lein-checkouts folder
checkouts

# RVM files for localised setups
.ruby-gemset
.ruby-version

# clj-i18n
/resources/puppetlabs/puppetdb/*.class
/resources/locales.clj
/mp-*
/dev-resources/i18n/bin

/.bundle/
/ext/test-conf/pgbin-requested
/ext/test-conf/pgport-requested
/ext/test-conf/pgver-requested
/ext/test-conf/puppet-ref-requested
/ext/test-conf/puppetserver-dep
/ext/test-conf/puppetserver-ref-requested
/puppet/state/
/puppetserver/

.nrepl-port
