language: clojure
lein: lein2
sudo: false

jdk:
  - openjdk7
  - oraclejdk8
  - oraclejdk7

env:
  - PDB_TEST_LANG=clojure
  - PDB_TEST_LANG=ruby

# Only run one ruby test
matrix:
  exclude:
    - jdk: oraclejdk8
      env: PDB_TEST_LANG=ruby
    - jdk: oraclejdk7
      env: PDB_TEST_LANG=ruby

script: ext/travisci/test.sh

notifications:
  email: false

addons:
  postgresql: "9.4"

services: postgresql
