language: clojure
lein: lein2
env:
  - T_TEST=java:oraclejdk7:embedded
  - T_TEST=java:openjdk7:embedded
  - T_TEST=java:oraclejdk7:postgres
  - T_TEST=java:openjdk7:postgres
  - T_TEST=ruby:default:none
script: ./ext/travisci/test.sh
notifications:
  email: false
services: postgresql
before_install:
  - rvm use 1.9.3
