
name: main
on: [push, pull_request]

jobs:
  # We use "o" as the name to keep it short since the flavor repeats
  # it, and the current actions interface doesn't show very many
  # characters in the test names.
  o:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # Change the pb_test_gh_job_id definition below after any
        # additions/removals of matrix axes.  The flavor "/" is
        # converted to "_" in the pdb-job-id below.

        flavor:
          - core+ext/openjdk11/pg-11
          - core+ext/openjdk11/pg-14

          # integration
          - int/openjdk11/pup-6.x/srv-6.x/pg-11/rich
          - int/openjdk11/pup-7.x/srv-7.x/pg-11/rich

          - rspec/pup-7.x
          - lint/openjdk11

        os: [ubuntu-20.04]

        # Defaults for special-case influencing vars
        lein-profile: ['']
        drop-joins: ['']
        deprecated-query-streaming: ['']

        # Special cases
        include:
          - os: macos-11
            flavor: core+ext/openjdk11/pg-11
          - os: macos-11
            flavor: int/openjdk11/pup-7.x/srv-7.x/pg-11/rich
          - os: macos-11
            flavor: rspec/pup-7.x

    steps:
      - name: Compute job outputs
        id: computed
        run: |
          # This id must be unique across all jobs
          pdb_test_gh_job_id="${{ matrix.os }}/${{ matrix.flavor }}"
          pdb_test_gh_job_id="${pdb_test_gh_job_id//\//_}"
          pdb_test_gh_job_id+="_${{ matrix.lein-profile }}"
          pdb_test_gh_job_id+="_${{ matrix.drop-joins }}"
          pdb_test_gh_job_id+="_${{ matrix.deprecated-query-streaming }}"

          echo "day=$(date +%Y-%m-%d)" >> "$GITHUB_OUTPUT"
          echo "pdb-job-id=$pdb_test_gh_job_id" >> "$GITHUB_OUTPUT"
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
      - uses: actions/cache@v3
        with:
          key: |
            ${{ matrix.flavor }}
            ${{ runner.os }}
            ${{ hashFiles('**/Gemfile') }}
            ${{ hashFiles('**/project.clj') }}
            ${{ steps.computed.outputs.day }}
          path: |
            ci/local/jdk
            vendor/bundle/ruby
            ~/.m2/repository
            ~/Library/Caches/Homebrew
      - name: Gather inital host info
        run: ext/bin/host-info
      - env:
          LEIN_PROFILES: ${{ matrix.lein-profile }}
          PDB_QUERY_OPTIMIZE_DROP_UNUSED_JOINS: ${{ matrix.drop-joins }}
          PDB_USE_DEPRECATED_QUERY_STREAMING_METHOD: ${{ matrix.deprecated-query-streaming }}
        run: ci/bin/prep-and-run-in github ${{ matrix.flavor }}
      - uses: actions/upload-artifact@v3
        with:
          name: "${{ steps.computed.outputs.pdb-job-id }}"
          path: |
            pg.log
            test.log
